p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
* {
  box-sizing: border-box;
}
body{
margin: 0;
}
/*  */

.hero-section {
    margin: 20px auto;
  max-width: 375px;
}
.hero-container {
  background-image: url(../img/hero-product-mob-1.jpg);
  background-color:lightgray  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 140px 14px 313px;
  margin: 0 auto;
}
.hero-titel {
  text-transform: uppercase;
  width: 286px;
  color: var(--blue-font, #0a224a);
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 14px;
}
.hero-text {
  margin-bottom: 28px;
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-btn {
  background-color: #0a224a;
  border: none;
  width: 224px;
  padding: 12px 65px;
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-section {  
    max-width: 768px;
    padding: 0 32px;
  }
  .hero-container {
    margin: 0 auto;
    padding: 0;
    background-image: url(../img/hero-product-tab-1.jpg),
      url(../img/hero-product-tab-2.jpg);
    background-repeat: no-repeat;
    background-position: top 202px left, top right;
    background-size: auto;
  } 
  
  .hero-titel {
    margin-bottom: 410px;
    color: var(--blue-font, #0a224a);
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    width: 100%;
  }
  .hero-text {
    width: 312px;
    margin-bottom: 30px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-section {  
    max-width: 1440px;
    padding: 0 60px;
  }
  .hero-container {
    background-image: url(../img/hero-product-1.jpg),
      url(../img/image.jpg), url(../img/hero-product-3.jpg);
    background-repeat: no-repeat;
    background-position: bottom left, center, top right;
    background-size: auto;
  } 
  .hero-titel {
    margin-bottom: 246px;
    width: 648px;
  }
  .hero-container-text-btn {
    width: 312px;
    margin: 0 0 0 auto;
  }
  

} 
